*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.attribution
{
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(228, 45%, 44%); 
  position: absolute;
  bottom: 0;
}

.card
{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  max-width: 385px;
  width: 90%;
  padding: 1rem;
  border-radius: 1.25rem;
  justify-items: center;
}

.author
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-img
{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
}

.author-name, .auth-desc
{
  color: hsl(0, 0%, 100%);
}

.auth-location
{
  color: hsl(75, 94%, 57%);
}

.links
{
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
}

.btn-primary
{
  height: 2.5rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  margin: 0.5rem;
  border: none;
  border-radius: 0.6rem;
}