@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif
}

body p
{
  font-size: 14px;
}

.attribution
{
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(228, 45%, 44%); 
  position: absolute;
  bottom: 0;
}

.card
{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  max-width: 385px;
  width: 90%;
  padding: 1rem;
  border-radius: 1.25rem;
  justify-items: center;
}

.author
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author h2
{
  font-weight: 600;
}

.author-img
{
  height: 6rem;
  width: 6rem;
  border-radius: 6rem;
  margin-top: 1rem;
}

.author-name, .auth-desc
{
  color: hsl(0, 0%, 100%);
  margin-top: 1.5rem;
}

.auth-location
{
  color: hsl(75, 94%, 57%);
  margin: 0.50rem;
  font-weight: 700;
}

.links
{
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
}

.btn-primary
{
  height: 2.5rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  margin: 0.5rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: 600;
}